name:  pipeline for rg creation

trigger: none

pool: Pasha-agent

jobs:
  - job: terraforminstall
    displayName: job1 terraform install
    steps:
    - task: TerraformInstaller@1
      displayName: terraform install
      inputs:
        terraformVersion: 'latest'


  - job: terraforminit
    displayName: job2 terraform init
    steps:
    - task: TerraformTask@5
      displayName: terraform init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/'
        backendServiceArm: 'ppsc'
        backendAzureRmOverrideSubscriptionID: '3be50968-9f1c-40cd-9f07-cf3bfdb72e22'
        backendAzureRmResourceGroupName: 'rg-pashya'
        backendAzureRmStorageAccountName: 'stgpasha'
        backendAzureRmContainerName: 'storagecontainer'
        backendAzureRmKey: 'terraform.tfstate'

    - task: TerraformTask@5
      displayName: terraform plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/'
        environmentServiceNameAzureRM: 'ppsc'
        environmentAzureRmOverrideSubscriptionID: '3be50968-9f1c-40cd-9f07-cf3bfdb72e22'

    - task: TerraformTask@5
      displayName: terraform apply
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/'
        commandOptions: '-auto-approve'
        environmentServiceNameAzureRM: 'ppsc'
        environmentAzureRmOverrideSubscriptionID: '3be50968-9f1c-40cd-9f07-cf3bfdb72e22'
 